* {
	direction: rtl;
	unicode-bidi: bidi-override;
	box-sizing: border-box;
}

body {
	font-family: Arial;
    padding: 10px;
    background:rgb(66, 133, 244);/*light blue rgb(230, 245, 255) blue rgb(66, 133, 244);*/
}

.header {
	height:400px;
	border-top: 12px solid rgb(230, 245, 255); /*blue color like homepage side nav*/
	border-left: 12px solid rgb(230, 245, 255);/*light blue*/
	border-bottom: 4px solid rgb(0, 128, 0);/*green*/	
	background-color: white;
	padding: 15px;
	color: darkmagenta;
}

#photos {
	width: 470px;
	height:330px;
	border: 10px solid rgb(230, 245, 255);
	float:left;
	position:inline;
	background-image:url("photo/anim1.jpg");
	background-size:100% 100%;
	margin-left:50px;
	margin-top:10px;
	animation: schoollife ease-in-out 40s infinite;
}
@keyframes schoollife {
	o%{		background-image:url("photo/anim1.jpg");
	    }
	12%{	background-image:url("photo/anim2.jpg");
	}
	24%{	background-image:url("photo/anim3.jpg");
		}
	36%{	background-image:url("photo/anim4.jpg");
	}
	48%{	background-image:url("photo/anim5.jpg");
	}
	60%{	background-image:url("photo/anim6.jpg");
	}
	72%{	background-image:url("photo/anim7.jpg");
	}
	84%{	background-image:url("photo/anim8.jpg");
	}
	96%{	background-image:url("photo/anim9.jpg");
	}
	100%{	background-image:url("photo/anim10.jpg");
	}
}

.header h1 {
  font-size: 60px;
  text-align: right;
  margin-top:20px;
  margin-right:90px;
}

.header p {
	font-size: 44px;
	margin-right:140px;
}

.btnhome {
  background-color: rgb(251, 188, 5); 
  border: 3px solid red; 
  color: black;
  padding: 12px 16px;
  position:right;  
  font-size: 20px; 
  cursor: pointer; 
}
.btnhome:hover {
  background-color: white;
}

.prev {
	background-color:rgb(230, 245, 255);
	border-right: 10px dotted red;
	padding: 30px 30px;
}

.card {
  background-color:white;
  padding: 20px;
  margin-top: 20px;
}

.prev p {
	font:22px bold;
	text-align: center;
	line-height:1.3;
	color:black; /*dark purple*/
	margin-top:20px; 
	margin-right: 40px; 
	margin-left: 40px; 
	margin-bottom: 20px;
}
.prev a {
	background-color:rgb(230, 245, 255);/*light blue*/
	border:  2px solid rgb(251, 188, 5);/*gold*/
	width: 500px;
	color: rgb(66, 133, 244); /*blue*/
	text-align:center;
	text-decoration:none;
	padding:15px 25px;
	margin:auto;
	display:block;
}
.prev a:hover  {
	background-color:rgb(251, 188, 5);/*gold*/
}


.choise {
	
	background-color:rgb(66, 133, 244);/*blue*/
	border-left: 10px dotted rgb(251, 188, 5);/*gold*/
	padding: 20px 20px;
	color:black;
	font-size:18px;
}

.carda {
	background:white;
	padding: 20px;
    margin-top: 20px;
}

.head {
	font-size: 24px;
	font-weight:bold;
}


#imgchoise {
	width: 320px;
	height:240px;
	float:left;
	border: 4px solid green;
	margin-right:10px;
	margin-top: 10px;
}

#img1 {
	width: 240px;
	height:180px;
	float:right;
	border: 4px solid green;
	margin-left:20px;
}


.evaluation {
	text-align:center;
}

.belonging {
	text-align:center;
}

.comunity {
	text-align:center;
}


#imcomu {
	width: 250px;
	height:200px;
	border: 4px solid green;
}
#imgjapan {
	height:200px;
	border-style:solid;
	border: 3px solid  rgb(251, 188, 5); /*gold*/
	margin:15px 15px;
}

.funprev {
	text-align:center;
	background-color:white;
	/*color:darkmagenta;*/
	padding-bottom:30px;
	padding-top:30px;
}
.funprev h1 {
  font-size: 50px;
  text-align: center;
  margin-top:30px;
  color:darkmagenta;
  }
  
  
.funprev h2 {
  font-size:30px;
  text-align: center;
  color:darkmagenta;
 }
  
.funprev p {
	width: 850px;
	margin:auto;
	font:22px bold;
	text-align: center;
	line-height:1.1;
	color:black;
}
.cardb {
	height:280px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.cardb h2 {
	color:darkmagenta;
}

.cardb p {
	width:1100px;
	font:22px bold;
	color:black;
	line-height:1.2;
	text-align:center;
	margin-right:210px;
	margin-top:40px;
}


.gishur {
	margin-right:600px;
	
}

#gishur {
	font-size:18px;	
	font-weight:bold;
	color:black;
	text-align:center;
	margin-right:50px;
}
	
.schoolicon {
	width:150px;
	float:right;
	position:inline-block;
	padding-right:20px;	
}


.cardc {
	height:340px;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.cardc h2 {
	color:darkmagenta;
}

.cardc p {
	font:22px bold;
	color:black;
	line-height:1;
	text-align:center;
	margin-top: 40px;
}
